<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">

<link href="{{ asset('assets/gridView/style.css') }}" rel="stylesheet">

<div class="title">Liste des offres d'emploi</div>
<div class="buttons">
</div>
<div class="wrapper list">
    <h1 style="text-align: center">Les offres d'emploi</h1>
    {% for job in jobs %}
        <div class="item">
            <a href="javascript:void(0);"><img
                        src="https://presspay.ng/news/wp-content/uploads/2022/10/jobs.jpg"/></a>
            <div class="details"><h2>{{ job.title }}</h2>
                <span>Salaire <span class="price">{{ job.salary |number_format(2, '.', ',') }} DT</span></span>
                <p>{{ job.description }}.</p>
                <a class="btn btn-success" data-toggle="modal" data-target="#myModalform-{{ job.id }}">Postuler</a>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <input id="comment-content-{{ job.id }}" style="width: 350px" class="form-control"
                                   type="text" name="comment" placeholder="tapez votre commentaire"
                                   required>

                            <a class="btn btn-success"
                               onclick="addComment({{ job.id }}, '{{ path('app_job_add_comment',{'id':job.id}) }}')">Commenter</a>
                        </div>
                        <small id="error-{{ job.id }}" style="color: red;display: none">Champs obligatoire</small>
                    </div>
                </div>
                <hr>
                <div id="comment-{{ job.id }}">
                    {% for comment in job.comments %}
                        - Publié le {{ comment.createdAt | date('d-m-Y') }} : {{ comment.content }}<br>
                    {% else %}
                        0 commentaire
                    {% endfor %}
                    <br>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModalform-{{ job.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            {{ job.title }}
                        </h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form action="{{ path('app_job_res_new',{'id':job.id}) }}" method="post" enctype="multipart/form-data">
                            {% include 'jobRes/_form.html.twig' %}
                        </form>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
    // add a click event listener to the button
    function addComment(id, _action) {
        var _comment = $('#comment-content-' + id).val();
        if (!_comment) {
            $('#error-' + id).show();
            return false;
        }
        $('#error-' + id).hide();
        $.ajax({
            url: _action,
            type: "post",
            data: {'comment': _comment},
            success: function (html) {
                $('#comment-content-' + id).val('')
                $('#comment-' + id).html(html)
            },
        })
    }
</script>